<div class="row">
    <div class="col-lg-12">
        hola: {{lala}}
        <rd-widget>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <th class="widget-header">Nombre</th>
                        <th class="widget-header">Apellido</th>
                        <th class="widget-header"></th>
                        <tr>
                            <td>RDVMPC001</td>
                            <td>238.103.133.37</td>
                            <td><span class="text-success"><i ng-click="a()" class="fa fa-edit"></i></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <rd-widget-footer>
                <ul class="pagination pagination-sm pull-right">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
                <div class="clearfix"></div>
            </rd-widget-footer>
        </rd-widget>
    </div>
</div>
