<div class="row">
    <div class="col-lg-6">
        <rd-widget>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <th class="widget-header">Team</th>
                        <th class="widget-header">Channel <span ng-click="authorizeSlack()"><i class="fa fa-plus-circle">  add team</span></span>
                        </th>
                        <tr ng-repeat="slack in slacks">
                            <td>{{slack.teamName}}</td>
                            <td><button ng-show="slack.channel!=''" ng-click="next(slack._id)">Connect</button>{{slack.channel}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </rd-widget>
    </div>
</div>